body{
	background-color: #C3C5C7;
}

hr{
	border-color: black;
}

#extLogo{
	vertical-align: middle;
	width: 75px;
	height: 75px;
	margin-right: 10px;
	
	/*Set the Logo at the top of widget to 75x75 and align in the middle of the line */
}

#extName{
	display: inline;
	vertical-align: middle;
	color: #266EBF;
	font-family: Century Gothic;
	font-size: 35px;
	
	/*Keep the extension name on the same line, align it in the middle of the line and set it to century gothic. */
}

.utensils{
	width: 200px;
	height: 50px;
	background-color: white;
	border: solid 2px;
	border-radius: 5px;
	/*Set the Button to 200x50 with a slight bolder */
}

.utensilPic{
	width: 35px;
	height: 35px;
	vertical-align: middle;
	margin-left: 30px;
	margin-right: 15px;
	/* Make the utensil pictures 35x35 and align it in the middle of the button (div) */
}

.utensilsName{
	display: inline;
	vertical-align: middle;
	font-size: 21px;
	font-family: Segoe UI, Century Gothic;
	text-align: center;
	line-height: 50px;
	/*Center the name of the utensil to the middle of the button (div) */
}

.utensils:hover{
	/*When the mouse hovers over the buttons, it turns gray and change the mouse cursor to a pointer */
	background-color: #898D8F;
	cursor: pointer;
}


